<%-include("partials/first.ejs")%>

<div class="container showpage">
	<div class="row shwpge">
		<div class="col-lg-3">
			<img class="showimg" src="<%-insideData["Poster"]%>">
			
		</div>
		
		<div class="col-lg-8">
			<h1 id="showhead">
				<%=insideData["Title"]%>
			</h1>
			
		      <%if(insideData["Year"].length===5)
				{%>
				<h3 id="showhead">
				<%=insideData["Year"]%>  (Present)
			     </h3>
	
				<%}
			    else{%>
				<h3 id="showhead">
				<%=insideData["Year"]%>
			     </h3>
   	
			
			<%}%>
			<p id="sub">
			 <%=insideData["Genre"]%>
			</p>
			<p id="icon">
			<i class="fab fa-imdb"></i><span id="rating"><%=insideData["imdbRating"]%>/10</span>
			</p>
			<div class="votesicon"><i class="fas fa-poll"></i><span id="votes"><%=insideData["imdbVotes"]%></span>
			</div>
			<div class="runtimeIcon">
			 <i class="far fa-clock"></i><h4 id="runtimehead">
              <%=insideData.Runtime%>			
			</h4>
			</div>
			
			<div class="details">
				<button class="btn moreDetail" >
					<a href="#showDetails" class="scroll"> 					More details
</a>
					
				</button>
				<button  class="btn trailer">
					<a href="https://www.imdb.com/title/<%=insideData.imdbID%>">
					Watch Trailer 

					</a>
				</button>
			</div>
			
		</div>
	</div>
	<div class="row" id ="downspacing">
	    <div id="detailpadding" class="col-lg-12">
			 
	     	<div class="abstract" id="showDetails"  >
				
			<a class ="detailsHead">
				<%=insideData.Title%>
				</a>
			 </div>

			
			 <div class="alldetails">
			 <h4 class="subhead">
				 Director(s)
			</h4>
				 <div class="border"></div>
			<a href="https://en.wikipedia.org/wiki/<%=insideData.Director%>" class="contentColor">
			     <%=insideData.Director%>
			</a>
				  <!-- section2 -->
				 <div id="subhead2">
		    <h4 class="subhead">
				 Plot
			</h4>
				 <div class="border"></div>
			<a class="contentColor">
			     <%=insideData.Plot%>
			</a>
				 </div>
				 <div id="subhead2">
		    <h4 class="subhead">
				 Cast
			</h4>
				 <div class="border"></div>
			<a class="contentColor">
			     <%=insideData.Actors%>
			</a>
				 </div> 
				 <div id="subhead2">
		    <h4 class="subhead">
				 Writer(s)
			</h4>
				 <div class="border"></div>
			<a class="contentColor">
			     <%=insideData.Writer%>
			</a>
				 </div>
			 	
			  </div>
		 </div>
	 </div>
		
	</div>
	
	
</div>


 <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 id="about">About</h6>
		<p class="text-justify">searchflix is a search engine based on the api provided by <i>OMDbAPI</i> which 
			comprises of large database on movies, Tv shows etc. Thus Searchflix allows people to search and know about the all details on their favourite movies and shows.
			 <br>
				
			  <i><strong>Developed by Sanjay Prakash </strong></i></p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Social Media</h6>
            <ul class="footer-links">
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Reddit</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/aboutMe">Portfolio</a></li>
              <li><a href="http://www.omdbapi.com/">Service</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">SearchFlix</a>.
            </p>
          </div>

         
        </div>
      </div>
</footer>



	
		<%-include("partials/footer.ejs")%>